html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
p,
figure,
blockquote,
h1,
h2,
h3 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

input,
select,
button,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: 0;
  font: inherit;
}

label {
  display: block;
}

::-moz-placeholder {
  font: inherit;
}

::placeholder {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DIN-Alternate-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #121212;
  background-color: #ffffff;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 1.5rem;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-family: "DIN Alternate", sans-serif;
  font-size: clamp(2.6rem, 1.436rem + 3.636vw, 5.8rem);
  line-height: 1.3;
  -webkit-text-stroke: 2px #121212;
  text-transform: capitalize;
}
.title--lines {
  display: flex;
  gap: 3.5rem;
  align-items: center;
  justify-content: center;
}
.title--lines::before, .title--lines::after {
  content: "";
  display: block;
  width: 5.6rem;
  height: 0.3rem;
  background-color: currentColor;
}

.main {
  position: relative;
}
.main::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -2;
  background-image: url("../img/map.svg"), url("../img/sections_bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 170rem, center 175rem;
}

.btn {
  display: inline-block;
  padding: 2rem 4.5rem;
  color: #ffffff;
  font-weight: 700;
  background-color: #ff7352;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: #ea6142;
  }
}

.search-form__inner {
  max-width: 57rem;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 1.6rem;
  display: flex;
  padding: 6px;
}
.search-form__label {
  display: none;
}
.search-form__input {
  padding: clamp(1.2rem, 0.691rem + 1.591vw, 2.6rem);
  width: 100%;
}
.search-form__input:focus {
  color: #121212;
}
.search-form__input:focus::-moz-placeholder {
  color: transparent;
}
.search-form__input:focus::placeholder {
  color: transparent;
}
.search-form__btn {
  padding: clamp(1.2rem, 0.909rem + 0.909vw, 2rem) clamp(1.6rem, 0.545rem + 3.295vw, 4.5rem);
}

.arrow-link {
  position: relative;
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  background-color: #ff7352;
  margin: 0 auto;
  background-image: url("../img/icons/icon_arrow_down_short.svg");
  background-repeat: no-repeat;
  background-size: 2.4rem;
  background-position: center;
  transition: transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .arrow-link:hover {
    transform: scale(1.1);
  }
}
.arrow-link::before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: -8px;
  width: 8rem;
  height: 8rem;
  background-image: url("../img/arc_orange.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.arrow-link--green {
  background-color: #27ad55;
}
.arrow-link--green::before {
  background-image: url("../img/arc_green.svg");
}

.product-card {
  position: relative;
  background-color: #ffffff;
  border-radius: 2.4rem;
  padding: 26rem 5rem 4rem;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .product-card:hover {
    background-color: #121212;
  }
  .product-card:hover .product-card__content {
    transform: translateY(-7rem);
  }
  .product-card:hover .product-card__order {
    opacity: 1;
  }
  .product-card:hover .product-card__name {
    color: #ffffff;
  }
  .product-card:hover .product-card__img {
    width: 90%;
    height: 165%;
  }
}
.product-card::before {
  content: "";
  display: block;
  bottom: 1rem;
  z-index: -1;
  position: absolute;
  width: calc(100% - 8rem);
  height: 6rem;
  background-color: rgba(18, 18, 18, 0.32);
  border-radius: 2.4rem;
  filter: blur(6rem);
}
.product-card__content {
  position: relative;
  text-align: center;
  font-weight: bold;
  transition: transform 0.3s ease 0s;
}
.product-card__img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 19rem;
  margin: 0 auto;
  transition: all 0.3s ease 0s;
}
.product-card__name {
  font-size: 2.2rem;
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-transform: capitalize;
  transition: color 0.3s ease 0s;
}
.product-card__price {
  font-size: 2rem;
  color: #27ad55;
}
.product-card__order {
  position: absolute;
  background-color: #ff7352;
  color: #ffffff;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2.4rem 4rem;
  border-radius: 0 0 2.4rem 2.4rem;
  background-image: url("../img/icons/icon_arrow_right_short.svg");
  background-repeat: no-repeat;
  background-size: 1.8rem;
  background-position: center right 4.4rem;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

.form__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 3rem;
}
@media (max-width: 575.98px) {
  .form__inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    justify-items: center;
  }
}
.form__input {
  max-width: 34.5rem;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1.2rem;
  padding: 1.7rem 2rem 1.7rem 6rem;
  background-repeat: no-repeat;
  background-position: left 2rem center;
  background-size: 2.4rem;
  /* for WebKit (Chrome, Safari) */
  /* for Firefox */
}
.form__input--date {
  background-image: url("../img/icons/icon_chevron_down.svg"), url("../img/icons/icon_calendar.svg");
  background-position: right 2rem center, left 2rem center;
  cursor: pointer;
}
.form__input--date.active {
  background-image: url("../img/icons/icon_chevron_up.svg"), url("../img/icons/icon_calendar.svg");
}
.form__input--person {
  background-image: url("../img/icons/icon_person.svg");
}
.form__input--email {
  background-image: url("../img/icons/icon_email.svg");
}
.form__input--phone {
  background-image: url("../img/icons/icon_phone.svg");
}
.form__input:focus {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
.form__input:focus::-moz-placeholder {
  color: transparent;
}
.form__input:focus::placeholder {
  color: transparent;
}
.form__input:-webkit-autofill, .form__input:-webkit-autofill:hover, .form__input:-webkit-autofill:focus, .form__input:-webkit-autofill:active {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.5) !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
.form__input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  -moz-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
.form__btn {
  display: block;
  margin: 0 auto;
}

.review-card {
  box-sizing: border-box;
  max-width: 52rem;
  padding-right: 5rem;
}
@media (max-width: 767.98px) {
  .review-card {
    margin: 0 auto;
    padding-right: 0;
  }
}
.review-card__title {
  font-weight: 700;
  font-size: clamp(2.2rem, 1.836rem + 1.136vw, 3.2rem);
  margin-bottom: clamp(1.5rem, 0.591rem + 2.841vw, 4rem);
  max-width: 37rem;
}
.review-card__text {
  line-height: 1.9;
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: clamp(2rem, 1.636rem + 1.136vw, 3rem);
}
.review-card__info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.review-card__photo {
  width: 7rem;
  height: 7rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.review-card__author {
  font-weight: 700;
  line-height: 1.9;
}
.review-card__stars {
  width: 8.7rem;
  height: 1.5rem;
  background-image: url("../img/icons/icon_star.svg");
  background-size: 1.5rem;
  background-position: center;
  background-repeat: space;
}

.social {
  display: flex;
  gap: clamp(2rem, 1.273rem + 2.273vw, 4rem);
  flex-wrap: wrap;
  justify-content: center;
}
.social__link {
  display: block;
  width: 24px;
  height: 24px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: #ffffff;
  transition: transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .social__link:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 767.98px) {
  .menu {
    position: absolute;
    top: 0;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    background-color: #27ad55;
    display: flex;
    overflow: auto;
    padding: 2rem 0;
    transition: left 0.3s ease 0s;
    z-index: 2;
  }
  .menu._active {
    left: 0;
  }
}
.menu__icon {
  display: none;
}
@media (max-width: 767.98px) {
  .menu__icon {
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .menu__icon span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .menu__icon span:first-child {
    top: 0;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu__icon._active span {
    transform: scale(0);
  }
  .menu__icon._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu__icon._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
.menu__body {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: clamp(5rem, 1.622rem + 4.398vw, 6.9rem);
       column-gap: clamp(5rem, 1.622rem + 4.398vw, 6.9rem);
  row-gap: 2rem;
}
@media (max-width: 767.98px) {
  .menu__body {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 767.98px) {
  .menu__item {
    width: 100%;
    text-align: center;
  }
}
.menu__link {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease 0s;
  position: relative;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #ffffff;
  }
}
@media (max-width: 767.98px) {
  .menu__link {
    line-height: 1.7;
    font-size: 3rem;
    display: block;
    color: #ffffff;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: clamp(1.2rem, 0.182rem + 3.182vw, 4rem) 0;
  background-color: #121212;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__btn {
  font-size: 1.4rem;
  color: #ffffff;
  padding: 0.8rem 3rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__btn:hover {
    background-color: rgba(255, 255, 255, 0.35);
  }
}
.header__buttons {
  display: flex;
  gap: clamp(2rem, 1.636rem + 1.136vw, 3rem);
  align-items: center;
}

.logo {
  z-index: 3;
}
.logo__img {
  transition: transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .logo__img:hover {
    transform: scale(1.1);
  }
}

.footer {
  background-color: #121212;
  padding: clamp(9rem, 7.545rem + 4.545vw, 13rem) 0 9rem;
}
.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(4rem, 3.273rem + 2.273vw, 6rem);
  text-align: center;
}
.footer__text {
  color: rgba(255, 255, 255, 0.5);
  max-width: 38rem;
}

.footer-menu {
  display: flex;
  -moz-column-gap: clamp(2.5rem, 0.864rem + 5.114vw, 7rem);
       column-gap: clamp(2.5rem, 0.864rem + 5.114vw, 7rem);
  row-gap: clamp(2.5rem, 1.591rem + 2.841vw, 5rem);
  flex-wrap: wrap;
  justify-content: center;
}
.footer-menu__link {
  color: #ffffff;
  font-size: 1.5rem;
  letter-spacing: -0.02em;
}
@media (any-hover: hover) {
  .footer-menu__link:hover {
    text-decoration: underline;
  }
}

.hero {
  position: relative;
  height: clamp(70rem, 51.818rem + 56.818vw, 120rem);
  padding-top: clamp(8rem, 7.979rem + 0.066vw, 14rem);
  background-image: url("../img/hero_ellipse.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom 11rem;
  margin-bottom: clamp(5rem, 3.909rem + 3.409vw, 8rem);
}
.hero::before, .hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 45rem;
  height: 45rem;
  background-image: url("../img/big_burger.webp"), url("../img/white_ellipse.svg");
  background-repeat: no-repeat;
  background-position: right bottom, left top;
  background-size: 42rem 34rem, 45rem 45rem;
}
@media (max-width: 1023.98px) {
  .hero::before, .hero::after {
    width: 33rem;
    height: 33rem;
    background-size: 30rem 22rem, 33rem 33rem;
  }
}
@media (max-width: 767.98px) {
  .hero::before, .hero::after {
    width: 20rem;
    height: 20rem;
    background-size: 20rem 15rem, 20rem 20rem;
    bottom: 3rem;
  }
}
@media (max-width: 479.98px) {
  .hero::before, .hero::after {
    display: none;
  }
}
.hero::before {
  left: 1rem;
  transform: translateX(-100%);
}
.hero::after {
  right: 1rem;
  transform: translateX(100%) scaleX(-1);
}
.hero.animate-burgers::before {
  animation: slideInLeft 0.7s forwards;
}
.hero.animate-burgers::after {
  animation: slideInRight 0.7s forwards;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%) scaleX(-1);
  }
  100% {
    transform: translateX(0) scaleX(-1);
  }
}
.hero__arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8rem;
}
.hero__inner {
  height: 100%;
  display: grid;
  align-items: center;
}
.hero__content {
  transform: translateY(-50%);
}
@media (max-width: 479.98px) {
  .hero__content {
    transform: translateY(-30%);
  }
}
.hero__title {
  color: #ffffff;
  -webkit-text-stroke: 2px #ffffff;
  font-size: clamp(2.8rem, 1.2rem + 5vw, 7.2rem);
  max-width: 80rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.hero__description {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  max-width: 48rem;
  margin: 0 auto;
  margin-bottom: clamp(4rem, 1.818rem + 6.818vw, 10rem);
}
.popular {
  margin-bottom: clamp(9rem, 7.909rem + 3.409vw, 12rem);
}
.popular__title {
  margin-bottom: 1.5rem;
  text-align: center;
}
.popular__description {
  text-align: center;
  color: rgba(18, 18, 18, 0.5);
  max-width: 52rem;
  margin: 0 auto;
  margin-bottom: clamp(3rem, -2.818rem + 18.182vw, 19rem);
}
.popular__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: clamp(1.5rem, 0.773rem + 2.273vw, 3.5rem);
       column-gap: clamp(1.5rem, 0.773rem + 2.273vw, 3.5rem);
  row-gap: 9rem;
  align-items: end;
  margin-bottom: 9rem;
}
@media (max-width: 1023.98px) {
  .popular__list {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media (max-width: 575.98px) {
  .popular__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 576px) and (max-width: 1023.98px) {
  .popular__item:nth-child(2n+1) {
    justify-self: end;
  }
  .popular__item:nth-child(2n) {
    justify-self: start;
  }
}
.about {
  margin-bottom: clamp(12rem, 10.909rem + 3.409vw, 15rem);
}
.about__inner {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 991.98px) {
  .about__inner {
    justify-content: center;
  }
}
.about__content {
  width: 44rem;
}
.about__title {
  margin-bottom: clamp(1.5rem, 0.955rem + 1.705vw, 3rem);
}
.about__title span {
  display: block;
  font-size: 2rem;
  color: #27ad55;
  margin-bottom: 2rem;
  -webkit-text-stroke: 0;
}
.about__text {
  font-size: 1.6rem;
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: clamp(3rem, 2.455rem + 1.705vw, 4.5rem);
}
.about__images {
  position: relative;
  width: clamp(29rem, 20.636rem + 26.136vw, 52rem);
  height: clamp(30rem, 21.636rem + 26.136vw, 53rem);
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url("../img/table.webp"), linear-gradient(180deg, #27ad55 65%, transparent);
  background-repeat: no-repeat;
  background-size: contain, 100%;
  background-position: center;
}
.about__breakfast {
  position: relative;
  width: clamp(11rem, 8.091rem + 9.091vw, 19rem);
  height: clamp(17rem, 16.273rem + 2.273vw, 19rem);
  transform: translateY(-3rem);
}
.about__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  animation-name: spin;
  animation-duration: 50000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about__price {
  position: absolute;
  bottom: 2.5rem;
  right: 0;
  background-color: #27ad55;
  padding: 7px 12px;
  border-radius: 2rem;
  font-weight: bold;
  color: #ffffff;
  font-size: clamp(1.2rem, 1.055rem + 0.455vw, 1.6rem);
}

.booking {
  margin-bottom: clamp(9rem, 8.273rem + 2.273vw, 11rem);
}
.booking__inner {
  position: relative;
  background-color: #121212;
  border-radius: 4.8rem;
  padding: clamp(7rem, 5.909rem + 3.409vw, 10rem) clamp(2rem, 1.636rem + 1.136vw, 3rem) clamp(5rem, 4.636rem + 1.136vw, 6rem);
  background-image: url("../img/white_ellipse.svg"), url("../img/white_ellipse.svg");
  background-repeat: no-repeat;
  background-size: 34rem 34rem, 19rem 19rem;
  background-position: top 11rem left -7rem, top 7rem right -2rem;
}
.booking__inner::before, .booking__inner::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/leaf_1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: drift 15s infinite alternate;
}
@keyframes drift {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-7px) translateX(7px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
.booking__inner::before {
  width: 25rem;
  height: 20rem;
  top: 5rem;
  left: -12rem;
}
.booking__inner::after {
  width: 15rem;
  height: 12rem;
  bottom: 11rem;
  right: -7rem;
  transform: scaleX(-1);
}
.booking_arrow {
  position: absolute;
  top: -3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.booking__title {
  max-width: 54rem;
  color: #ffffff;
  -webkit-text-stroke: 2px #ffffff;
  text-align: center;
  margin: 0 auto;
  margin-bottom: clamp(1.5rem, 0.955rem + 1.705vw, 3rem);
}
.booking__text {
  position: relative;
  z-index: 2;
  max-width: 57rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: 0 auto;
  margin-bottom: clamp(3rem, 2.273rem + 2.273vw, 5rem);
}
.booking__form {
  max-width: 71rem;
  margin: 0 auto;
}

.reviews {
  margin-bottom: clamp(9rem, 8.273rem + 2.273vw, 11rem);
}
.reviews__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5rem;
  margin-bottom: clamp(3rem, 1.909rem + 3.409vw, 6rem);
  gap: 3rem;
}
@media (max-width: 767.98px) {
  .reviews__head {
    padding-right: 0;
    text-align: center;
    justify-content: center;
  }
}
.reviews__title {
  max-width: clamp(29rem, 18.091rem + 34.091vw, 59rem);
}
.reviews_nav {
  display: flex;
}
@media (max-width: 767.98px) {
  .reviews_nav {
    display: none;
  }
}
.reviews__arrow {
  width: 100px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../img/icons/icon_arrow_right_long.svg");
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.reviews__arrow.swiper-button-disabled {
  width: 40px;
  opacity: 0.5;
  background-image: url("../img/icons/icon_arrow_left_short.svg");
  cursor: not-allowed;
}
.reviews__arrow--prev:not(.swiper-button-disabled) {
  transform: scaleX(-1);
}
.reviews__arrow--next.swiper-button-disabled {
  transform: scaleX(-1);
}