.about {
	margin-bottom: clamp(12rem, 10.909rem + 3.409vw, 15rem);

	&__inner {
		display: flex;
		gap: 5rem;
		justify-content: space-between;
		flex-wrap: wrap;

		@media (max-width: 991.98px) {
			justify-content: center;
		}
	}

	&__content {
		width: 44rem;
	}

	&__title {
		margin-bottom: clamp(1.5rem, 0.955rem + 1.705vw, 3rem);

		span {
			display: block;
			font-size: 2rem;
			color: $c-green;
			margin-bottom: 2rem;
			-webkit-text-stroke: 0;
		}
	}

	&__text {
		font-size: 1.6rem;
		color: rgba($c-black, 0.5);
		margin-bottom: clamp(3rem, 2.455rem + 1.705vw, 4.5rem);
	}

	&__link {}

	&__images {
		position: relative;
		width: clamp(29rem, 20.636rem + 26.136vw, 52rem);
		height: clamp(30rem, 21.636rem + 26.136vw, 53rem);
		aspect-ratio: 1;
		border-radius: 50%;
		background-image: url('../img/table.webp'),
			linear-gradient(180deg, $c-green 65%, transparent);
		background-repeat: no-repeat;
		background-size: contain, 100%;
		background-position: center;

	}

	&__breakfast {
		position: relative;
		width: clamp(11rem, 8.091rem + 9.091vw, 19rem);
		height: clamp(17rem, 16.273rem + 2.273vw, 19rem);
		transform: translateY(-3rem);
	}

	&__img {
		width: 100%;
		object-fit: contain;
	}

	&__price {
		position: absolute;
		bottom: clamp(4.5rem, 5.227rem + -2.273vw, 2.5rem);
		right: 0;
		background-color: $c-green;
		padding: 7px 12px;
		border-radius: 2rem;
		font-weight: bold;
		color: $c-white;
		font-size: clamp(1.2rem, 1.055rem + 0.455vw, 1.6rem);
	}
}