.booking {
	margin-bottom: clamp(9rem, 8.273rem + 2.273vw, 11rem);

	&__inner {
		position: relative;
		background-color: $c-black;
		border-radius: 4.8rem;
		padding: clamp(7rem, 5.909rem + 3.409vw, 10rem) clamp(2rem, 1.636rem + 1.136vw, 3rem) clamp(5rem, 4.636rem + 1.136vw, 6rem);
		background-image: url('../img/white_ellipse.svg'), url('../img/white_ellipse.svg');
		background-repeat: no-repeat;
		background-size: 34rem 34rem, 19rem 19rem;
		background-position: top 11rem left -7rem, top 7rem right -2rem;

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			background-image: url('../img/leaf_1.webp');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		&::before {
			width: 25rem;
			height: 20rem;
			top: 5rem;
			left: -12rem;
		}

		&::after {
			width: 15rem;
			height: 12rem;
			bottom: 11rem;
			right: -7rem;
			transform: scaleX(-1);
		}
	}

	&_arrow {
		position: absolute;
		top: -3rem;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__title {
		max-width: 54rem;
		color: $c-white;
		-webkit-text-stroke: 2px $c-white;
		text-align: center;
		margin: 0 auto;
		margin-bottom: clamp(1.5rem, 0.955rem + 1.705vw, 3rem);
	}

	&__text {
		position: relative;
		z-index: 2;
		max-width: 57rem;
		color: rgba($c-white, 0.5);
		text-align: center;
		margin: 0 auto;
		margin-bottom: clamp(3rem, 2.273rem + 2.273vw, 5rem);
	}

	&__form {
		max-width: 71rem;
		margin: 0 auto;
	}
}