.hero {
	position: relative;
	height: 120rem;
	padding-top: 14rem;
	background-image: url('../img/hero_ellipse.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom 11rem;
	margin-bottom: 8rem;

	&::before,
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		display: block;
		width: 53rem;
		height: 50rem;
		background-image:
			url('../img/big_burger.webp'),
			url('../img/white_ellipse.svg');
		background-repeat: no-repeat;
		background-position: right bottom, left top;
		background-size: 48rem 37rem, 46rem 46rem;
	}

	&::before {
		left: 3rem;
	}

	&::after {
		right: 3rem;
		transform: scaleX(-1);
	}

	&__arrow {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 8rem;
	}

	&__inner {
		height: 100%;
		display: grid;
		align-items: center;
	}

	&__content {
		transform: translateY(-50%);
	}

	&__title {
		color: $c-white;
		-webkit-text-stroke: 2px $c-white;
		font-size: 7.2rem;
		max-width: 80rem;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 3rem;

		&::before,
		&::after {
			margin-top: -8rem;
		}
	}

	&__description {
		font-size: 1.8rem;
		color: rgba($c-white, 0.5);
		text-align: center;
		max-width: 48rem;
		margin: 0 auto;
		margin-bottom: 10rem;
	}

	&__form {}
}