.hero {
	position: relative;
	height: clamp(70rem, 51.818rem + 56.818vw, 120rem); // 120rem to 70rem
	padding-top: clamp(8rem, 7.979rem + 0.066vw, 14rem); // 14rem to 8rem
	background-image: url('../img/hero_ellipse.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom 11rem;
	margin-bottom: clamp(5rem, 3.909rem + 3.409vw, 8rem);

	&::before,
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		display: block;
		width: 45rem;
		height: 45rem;
		background-image:
			url('../img/big_burger.webp'),
			url('../img/white_ellipse.svg');
		background-repeat: no-repeat;
		background-position: right bottom, left top;
		background-size: 42rem 34rem, 45rem 45rem;

		@media (max-width: 1023.98px) {
			width: 33rem;
			height: 33rem;
			background-size: 30rem 22rem, 33rem 33rem;
		}

		@media (max-width: 767.98px) {
			width: 20rem;
			height: 20rem;
			background-size: 20rem 15rem, 20rem 20rem;
			bottom: 3rem;
		}

		@media (max-width: 479.98px) {
			display: none;
		}
	}

	&::before {
		left: 1rem;
		transform: translateX(-100%);
	}

	&::after {
		right: 1rem;
		transform: translateX(100%) scaleX(-1);
	}

	// ===========Burgers animation========== //

	&.animate-burgers::before {
		animation: slideInLeft 0.7s forwards;
	}

	&.animate-burgers::after {
		animation: slideInRight 0.7s forwards;
	}

	@keyframes slideInLeft {
		0% {
			transform: translateX(-100%);
		}

		100% {
			transform: translateX(0);
		}
	}

	@keyframes slideInRight {
		0% {
			transform: translateX(100%) scaleX(-1);
		}

		100% {
			transform: translateX(0) scaleX(-1);
		}
	}

	// ===================================== //

	&__arrow {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 8rem;
	}

	&__inner {
		height: 100%;
		display: grid;
		align-items: center;
	}

	&__content {
		transform: translateY(-50%);

		@media (max-width: 479.98px) {
			transform: translateY(-30%);
		}
	}

	&__title {
		color: $c-white;
		-webkit-text-stroke: 2px $c-white;
		font-size: clamp(2.8rem, 1.2rem + 5vw, 7.2rem); //7.2rem to 2.8rem
		max-width: 80rem;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 3rem;
	}

	&__description {
		font-size: 1.8rem;
		color: rgba($c-white, 0.5);
		text-align: center;
		max-width: 48rem;
		margin: 0 auto;
		margin-bottom: clamp(4rem, 1.818rem + 6.818vw, 10rem); //10rem to 4rem
	}

	&__form {}
}