.form {

	&__inner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		margin-bottom: 3rem;
	}

	&__group {}

	&__label {}

	&__input {
		width: 100%;
		color: rgba($c-white, 0.5);
		background-color: rgba($c-white, 0.2);
		border-radius: 1.2rem;
		padding: 1.7rem 5rem 1.7rem 6rem;
		background-repeat: no-repeat;
		background-position: left 2rem center;
		background-size: 2.4rem;

		&--date {
			background-image: url('../img/icons/icon_chevron_down.svg'), url('../img/icons/icon_calendar.svg');
			background-position: right 2rem center, left 2rem center;
		}

		&--person {
			background-image: url('../img/icons/icon_person.svg');
		}

		&--email {
			background-image: url('../img/icons/icon_email.svg');
		}

		&--phone {
			background-image: url('../img/icons/icon_phone.svg');
		}
	}

	&__btn {
		display: block;
		margin: 0 auto;
	}
}