.social {
	display: flex;
	gap: 4rem;

	&__link {
		display: block;
		width: 24px;
		height: 24px;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;
		mask-size: contain;
		-webkit-mask-size: contain;
		mask-position: center;
		-webkit-mask-position: center;
		background-color: $c-white;
	}
}