html {
	font-style: 10px;
	// 1rem = 10px
}

body {
	font-family: $font_main;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.5;
	color: $c-black;
	background-color: $c-white;
}

.wrapper {
	overflow-x: hidden;
}

.container {
	max-width: 120rem; //1200px
	padding: 0 1.5rem;
	width: 100%;
	margin: 0 auto;
}