.footer {
	background-color: $c-black;
	padding: 13rem 0 10rem;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 6rem;
		text-align: center;
	}

	&__text {
		color: rgba($c-white, 0.5);
		max-width: 38rem;
	}
}

.footer-menu {
	display: flex;
	gap: 7rem;

	&__item {}

	&__link {
		color: $c-white;
		font-size: 1.5rem;
		letter-spacing: -0.02em;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}