.search-form {

	&__inner {
		max-width: 57rem;
		margin: 0 auto;
		background-color: $c-white;
		border-radius: 1.6rem;
		display: flex;
		padding: 6px;
	}

	&__label {
		display: none;
	}

	&__input {
		padding: clamp(1.2rem, 0.691rem + 1.591vw, 2.6rem);
		width: 100%;

		&:focus {
			color: $c-black;

			&::placeholder {
				color: transparent;
			}
		}
	}

	&__btn {
		padding: clamp(1.2rem, 0.909rem + 0.909vw, 2rem) clamp(1.6rem, 0.545rem + 3.295vw, 4.5rem);
	}
}