.social {
	display: flex;
	gap: clamp(2rem, 1.273rem + 2.273vw, 4rem);
	flex-wrap: wrap;
	justify-content: center;

	&__link {
		display: block;
		width: 24px;
		height: 24px;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;
		mask-size: contain;
		-webkit-mask-size: contain;
		mask-position: center;
		-webkit-mask-position: center;
		background-color: $c-white;
		transition: transform 0.3s ease 0s;


		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}